<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="classpath:net/shibboleth/metadata/beans.xml"/>

    <bean class="net.shibboleth.shared.spring.config.IdentifiableBeanPostProcessor"/>

    <bean id="test" parent="mda.SimplePipeline">
        <property name="stages">
            <list>
                <bean id="stage1" parent="mda.CompositeStage" p:loggingProgress="true">
                    <property name="stages">
                        <list>
                            <bean id="stage1a" parent="mda.CompositeStage" p:loggingProgress="true"/>
                            <bean id="stage1b" parent="mda.CompositeStage"/>
                        </list>
                    </property>
                </bean>
                <bean id="stage2" parent="mda.CompositeStage" p:loggingProgress="true"/>
            </list>
        </property>
    </bean>

</beans>
